.categoria-rutas-container {
    width:95%;
    min-height: 10px;
    padding:6px ;
    margin-top: 2px;
    margin-bottom: auto;
    text-align: center;
    font-weight: bold;
    background-color: blue;
    color: aliceblue;
    border-radius: 10px;




}






