.rutas-container {
    width: 80%;
    margin-left: 40px;
    margin-right: auto;
    min-height: 20px;
    text-align: left;
    margin-top: 2px;
    padding: 1px;
    margin-top: auto;
    

    
      
    
        
}


.product-without-stock{
    color: blue;
    


}

